static/Deepak-Cherian-CV.pdf filter=lfs diff=lfs merge=lfs -text
static/eddyshelf-3d.png filter=lfs diff=lfs merge=lfs -text
static/ew-34-csdye.mp4 filter=lfs diff=lfs merge=lfs -text
static/me.png filter=lfs diff=lfs merge=lfs -text
static/non-hydrostatic-waves-qns.pdf filter=lfs diff=lfs merge=lfs -text
static/rossby-adjustment-qns.pdf filter=lfs diff=lfs merge=lfs -text
