@import url("website.css");

.title {
    text-align: left;
    margin-top: -2em;
    margin-bottom: 1em;
    line-height: 1.2em;
}

.title::before {
    content: '' !important;
}

body {
    margin: auto;
}

.post-subtitle {
    text-align: left;
    color: #555;
    font-size: 1.2em;
}
