
/**
 * Primary styles (custom section, non htmlboilerplate)
 * Author: Ethan Schoonover
 */

/* $base03:    #002b36; */
/* $base02:    #073642; */
/* $base01:    #586e75; */
/* $base00:    #657b83; */
/* $base0:     #839496; */
/* $base1:     #93a1a1; */
/* $base2:     #eee8d5; */
/* $base3:     #fdf6e3; */
/* $yellow:    #b58900; */
/* $orange:    #cb4b16; */
/* $red:       #dc322f; */
/* $magenta:   #d33682; */
/* $violet:    #6c71c4; */
/* $blue:      #268bd2; */
/* $cyan:      #2aa198; */
/* $green:     #859900; */
/* $hmargin:   70px; */
/* $vmargin:   20px; */

body {
    /* color: #094b5c; /\* #657b83; *\/ */
    color: #073642;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.5em;
    padding: 1em;
    margin: 40px auto;
    max-width: 44em;
    background: #fdf6e3;
    text-rendering: optimizeLegibility;
}

b, strong {
    font-weight: 500;
    color: #2aa198;
}

p {
    margin: 1em 0;
    text-align: left;
}

::-moz-selection {
    background:#FF5E99;
    color:#fff;
    text-shadow:none
}
::selection {
    background:#FF5E99;
    color:#fff;
    text-shadow:none
}
/* --- Links --------------------------------------------------------------- */
a {
    color:inherit;
    text-decoration:none;
    padding: 2px;
}
a::after {
    position: relative;
    content: "\FEFF°";
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: #dc322f;
}
a:hover {
    background: #eee8d5;
    transition-property: background;
    transition-duration: 0.1s;
    border-radius: 0.3em;
}


#postamble {
    padding-top: 1em;
    border-top: 1.5px solid #bbb;
}

#content {
    padding-bottom: 1em;
}

/* --- Navigation Menu --- */
.menu {
    background-color: #fdf6e3;
    color: #cb4b16;
    position: sticky;		/*fixed */
    top: 0em;
    left: 0;
    width: 100%;
    padding: none;
    line-height: 1.0;
    /* padding: -0.5em; */
    display: block;
    z-index: 999;
    font-size: 1.1em;
    border-top: 1.5px solid #bbb;
    border-bottom: 1.5px solid #bbb;
}

.menu ul {
    padding-left: 0px;
    text-align: center;
}

.menu li {
    display: inline;
    width: 100%;
    padding-left: 1.3%;
    padding-right: 1.3%;
    text-align: center;
    margin-left: 0px;
}
.menu ul:after{
    margin-bottom: 40px;
}

.menu a:hover {
    color: #268bd2;
    background: inherit;
}
.menu a::after {
    content: "";
}

/* --- Headers ------------------------------------------------------------- */

h1, h3 {
    padding: 15px 0 3px;
    /* clear: both; */
    font-weight: 400;
}
h1 { font-size: 1.5em; padding-top: 2.5em;}
h3, h4 { font-weight: 400; font-size: 1.3em;}
h5, h6 {
    font-size: 1.15em;
    font-weight:normal;
    margin-top:-0.15em;
    margin-bottom:-0.4em;
    padding-left: 0.5em;
}

h2 { font-weight: 400;
     font-size: 1.4em;
     color: #cb4b16;
   }

/* make h2 links scroll right with fixed navigation bar */
h2::before {
    display:block;
    content: " ";
    padding: 0.5em;
    margin-top: -10em;
    height: 10em;
    visibility: hidden;
}

.links h5::before, h4::before {
    content: "§";
    padding-right: 1.2%;
    font-size: 1.5em;
    font-weight: 100;
    vertical-align: middle;
    color: #cb4b16;
}
/* ------ sections ------ */

.research {
    overflow: auto;
    padding-bottom: 2%;
}

article, .outline-text-2 {
    margin-left: 1em;
}

/* --- content lists --- */
li {
    padding: 0px 0px 0.2em 0px;
    margin-left: 0.5em;
}

/* --- Media ------------ */
img {
    padding: 5px 20px;
    /* border: 1px solid; */
}

video {
    width: 100%;
    height: auto;
}


/* --- Title/Subtitle ------------------------------------------------------ */

.title {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    text-align: right;
    margin-top: -1em;
}
.title::before {
    content: url('static/me.png');
    float: left;
    /* background: inherit; */
    /* margin-top: -0.3em; */
}
.subtitle {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: right;
    margin-bottom: 1em;
}


/* --- Code ---------------------------------------------------------------- */
pre.src {
    font-size:      90%;
    font-family:    monospace;
    line-height:    125%;
    /* background:     #fcfcfc; */
    border-top:     .5px solid #ccc;
    border-bottom:  .5px solid #ccc;
    padding-left:   2.0em;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
}
pre.output {
    font-size:      85%;
    font-family:    monospace;
    line-height:    125%;
    /* background:     #fff; */
    border:         none;
    padding-left:   2.0em;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
}

.function, .class {
    font-weight: 400;
}
.comment {
    color: #459;
}

/*--- Tables ---*/
table {
    margin-left: auto;
    margin-right: auto;
    min-width: 33%;
    border-top:     .5px solid #ccc;
    border-bottom:  .5px solid #ccc;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
}

td {
    padding: 0.2em 0.5em;
    text-align: center;
}

/*--- Icons ---*/

.logo {
    width: 36px;
    height: 36px;
    padding: 4px;
    vertical-align: middle;
}

.cc-logo {
    height: 2em;
    padding-bottom: 0.8em;
    vertical-align: middle;
}
a.logo {width: 36px; height: 36px;}
a.logo:after, a.cc-logo:after{all:unset;}
a.logo:hover, a.cc-logo:hover{background:none; border-radius:0px; transition-property:none;}

/*
h1::before {
    counter-increment: h1;
    margin-right:10px;
    color: white;
    background-color: black;
    padding-left: 10px; padding-right:10px;
}
h2::before {
    counter-increment: h2;
    margin-right: 10px;
}
h3::before {
    content: counter(h1) "."counter(h2) "."counter(h3) " ";
    counter-increment: h3;
    margin-right:10px;
}
*/

/*--- Responsive --------------------------------------*/
@media screen and (max-width : 1000px){
    .menu li {
	display: sticky;
	width: 100%;
        padding-left: 0.5%;
        padding-right: 0.5%;
    }
}

@media screen and (max-width : 800px){
    figure {
	display: block;
    }
    img {
	width: 80%;
	float: none;
    }
    .menu li {
	position: sticky;
	width: 100%;
        padding-left: 0.7%;
        padding-right: 0.7%;
    }

}
@media screen and (max-width : 700px){
    img {
	width: 90%;
        float: none;
    }
    .menu {position: unset;}
    .menu li {
        display: block;
	line-height: 1.5;
    }
}

@media screen and (max-width : 550px){
    img {
	width: 100%;
	float: none;
    }
}
